.create__route--wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.create__route--content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.create__route--title{
    font-size: 2rem;
    font-weight: 600;
}

.create__route--item{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.create__route--select--inner{
    width: calc(100% / 2 - 30px / 2);
    position: relative;
}

.create__route--select{
    width: 100%;
}